<h1>Genre: <%= @genre.name %></h1>

<h3>Songs under this Genre: </h3>

<% @genre.songs.each do |song| %>
  <ul>
    <li><%= song.title %></li>
  </ul>
<% end %>

<p>Average Song Rating: <%= @genre.avg_song_rating unless @genre.songs.empty? %></p>
