<h1> <%= @song.title %> </h1>
<p>by <%= @song.artist.name %> </p>
<p>Rating: <%= @song.rating %> </p>

<h2>Genres for this Song:</h2>
<ul>
  <% @song.genres.each do |genre| %>
    <li><%= genre.title %></li>
  <% end %>
</ul>
